@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  box-sizing: border-box;
}

body {
  background-color: #f1dba0;
  margin: 0;
  text-align: center;
}

h1 {
  color: #f6f1e2;
  font-family: "Raleway";
  font-size: 40px;
}

.top-bar {
  background-color: black;
  height: 90px;
}

.top-bar-content {
  height: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls-area {
  color: white;
  display: flex;
  gap: 20px;
  padding: 10px 30px;
  border: 1px solid #f6f1e2;
  box-shadow: 3px 3px;
}

.button-area {
  display: flex;
  gap: 20px;
}

.slider-area {
  display: flex;
  gap: 20px;
}

@media (max-width: 1150px) {
  .top-bar {
    height: 190px;
  }

  .top-bar-content {
    flex-direction: column;
  }

  .controls-area {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

/* button styles */

.button {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.start-button {
  background-color: #5c8b4c;
  color: #f6f1e2;
}

.step-button {
  background-color: #f2d166;
}

.reset-button {
  background-color: #e59191;
}

.step-speed-control p,
.cell-size-control p {
  font-size: 14px;
}

.slider-row {
  display: flex;
  justify-content: space-between;
}

.step-speed-control {
  width: 140px;
}

/* clear all default slider styles */
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* custom styles for thumb */

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -4px;
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
}

/* custom styles for track */

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgb(101, 166, 180);
  border-radius: 4.2px;
  border: 0.2px solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgb(101, 166, 180);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgb(101, 166, 180);
  border-radius: 4.2px;
  border: 0.2px solid #010101;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: rgb(101, 166, 180);
  border: 0.2px solid #010101;
  border-radius: 4.2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-lower {
  background: rgb(101, 166, 180);
}
input[type="range"]::-ms-fill-upper {
  background: rgb(101, 166, 180);
  border: 0.2px solid #010101;
  border-radius: 4.2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: rgb(101, 166, 180);
}

/* game area styles */

.game-area {
  border-top: 1px solid;
  border-left: 1px solid;
  margin: auto;
  margin-top: 40px;
  display: inline-block;
  background-color: cornsilk;
  box-shadow: 10px 10px;
}

.game-row {
  display: flex;
  justify-content: center;
}

.cell {
  border-right: 1px solid;
  border-bottom: 1px solid;
  min-width: 20px;
  background-color: #f7f5f0;
  cursor: pointer;
}


.footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 50px;
  width: 100vw;
  
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* max-width: 1000px; */
  margin: auto;
  padding: 0px 40px;
  background-color: #000000;
}

.footer-link {
  color: white;
  margin-top: 0px;
  font-size: 16px;
  text-decoration: none;
}

.footer-link:visited {
  color: white;
}

.footer-link:hover {
  color: #f1dba0;
}

.github-button {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: transparent;
  border-radius: 6px;
  padding-top: 7px;
  cursor: pointer;
  transition: 100ms;
}

.github-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}



